@font-face {
  font-family: "silkScreen";
  src: url("../fonts/silkscreen_normal_macroman/slkscr-webfont.woff")
    format("woff");
}

* {
  font-family: "silkScreen";
  overflow: hidden;
}

html {
  min-width: 1440px;
  min-height: 900px;
  width: 100%;
  height: 100%;
  background-image: url("../images/lofibg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1, 1);
}

* {
  font-family: "silkScreen";
  overflow: hidden;
}

#instructions {
  padding: 15px 32px;
  background: #00000091;
  color: whitesmoke;
  font-size: 25px;
  text-shadow: -2px 0 black, 0 2px black, 4px 0 black, 0 -2px black;
  border-radius: 10px;
  position: relative;
  z-index: 5000 !important;
  /* cursor: pointer; */
}

#instructions-container:first-child {
  display: flex;
  justify-content: center;
  width: inherit;
}

#instructions:hover {
  border-style: solid;
  border-color: whitesmoke;
}

.middle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* pointer-events: none; */
}

.middle-container div {
  width: calc((100vw - 900px) / 2);
  min-width: 260px;
}

.middle-container-last-child {
  width: 264.344px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: snow;
  border: 1px solid #888;
  font-size: 22px;
  width: 900px;
  height: 600px;
  z-index: 4501;
  border-radius: 10px;
  margin: auto;
  margin-top: 8%;
}

.modal-content > p {
  display: block;
  padding: 10px 10px 10px 10px;
  border-top: 1px dashed black;
  border-bottom: 1px dashed peru;
}

#htp {
  color: peru;
  text-shadow: -2px 0 black, 0 4px black, 7px 0 black, 0 -2px black;
  text-align: center;
}

#youngceo {
  color: peru;
  text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 -1px black;
  font-size: 25px;
  text-align: center;
}

.close {
  display: block;
  position: absolute;
  color: #aaa;
  font-size: 50px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 0px;
  text-align: left;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#startscreen {
  height: 706px;
  font-size: 50px;
  position: fixed;
  text-shadow: -1px 0 black, 0 4px black, 5px 0 black, 0 -2px black;
  filter: brightness(200%);
  color: white;
  font-style: oblique;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 1440px;
}

#startscreen p {
  font-size: 35px;
  color: darkorange;
  filter: brightness(50%);
  text-shadow: -1px 0 black, 0 1px white, 5px 0 black, 0 -2px black;
}

audio {
  position: absolute;
}

#game-lost {
  mix-blend-mode: luminosity;
}

.hidden {
  display: none;
}

#controls {
  font-size: 26px;
  font-weight: 1000;
  color: snow;
  text-shadow: -1px 0 black, 0 0.5px white, 6px 0 black, 0 -1px black;
}

li {
  list-style: none;
}

#gameover {
  font-size: 42.5px;
  position: absolute;
  transform: translate(55%, 100%);
  z-index: 8;
  text-align: center;
  text-shadow: -2px 0 black, 0 0.5px white, 6px 0 black, 0 -2px black;
  color: red;
  gap: 50%;
  font-style: oblique;
}

#pause {
  font-size: 45px;
  position: absolute;
  transform: translate(70%, 120%);
  z-index: 7 !important;
  text-align: center;
  text-shadow: -1px 0 black, 0 4px black, 5px 0 black, 0 -2px black;
  color: snow;
}

#scoreboard-div {
  /* position: absolute; */
  text-shadow: -1px 0 black, 0 0.5px white, 6px 0 black, 0 -1px black;
  color: orange;
  transform: translate(18%, 30%);
  font-size: 45px;
  filter: brightness(120%);
}

#orders {
  color: whitesmoke;
  position: absolute;
  text-shadow: -1px 0 black, 0 2px black, 4px 0 black, 0 -1px black;
  z-index: 3;
  transform: translate(52.5%, 25%);
  filter: brightness(120%);
  padding: 0px;
  width: 100%;
  font-size: 32px;
  border: 1px black;
}

.checked-off {
  color: lime;
  text-shadow: -1px 0 black, 0 2px black, 4px 0 black, 0 -1px black;
  font-style: oblique;
}

#coffeeuptitle {
  height: 100px;
  min-width: 730px;
  margin: 10px;
  background: #000000ad;
  border-radius: 10px;
}

.title-container {
  display: flex;
  justify-content: center;
}

canvas {
  display: flex;
  margin: auto;
  height: 600px;
  width: 800px;
  -webkit-box-shadow: 0px 0px 8px 5px rgba(63, 63, 63, 1);
  box-shadow: 0px 0px 8px 5px rgba(63, 63, 63, 1);
}

#coffee-canvas {
  background-image: url("../images/cafe_background.png");
  background-size: 900px 700px;
  z-index: 1;
  border: 3px solid black;
  border-radius: 12px;
  margin-bottom: 3px;
  min-width: 900px;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 4503;
  width: 18%;
  min-width: 300px;
  background: #000000ad;
  min-height: 70px;
  border-radius: 10px;
  align-items: center;
}

.navlinks a img {
  filter: invert(100%);
}

.icon:hover {
  filter: brightness(10%);
  opacity: 0.5;
}

footer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1280px) {
  canvas {
    height: 550px;
    width: 800px;
  }
  #coffeeuptitle {
    height: 70px;
    min-width: 500px;
  }
  #instructions {
    padding: 12px 10px;
    font-size: 18px;
  }
  #coffee-canvas {
    background-size: 800px 550px;
    min-width: 800px;
  }
  .middle-container div {
    width: calc((100vw - 800px) / 2);
    /* min-width: 260px; */
  }
  #startscreen {
    min-width: 1280px;
  }
}
