/* losing screen possibly */
html{
    max-width: 100%;
    overflow-x: hidden;
}
/* body {
    display: flex;
    flex-direction: column;
} */
@font-face {
    font-family: 'silkScreen';
    src: url("../fonts/silkscreen_normal_macroman/slkscr-webfont.woff") format("woff");
}

* {
    font-family: 'silkScreen';
}


#startscreen {
    /* position: absolute; */
    z-index: 9;
    font-size: 50px;
  /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 30%;
    margin: -25px 0 0 -25px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; 
}

#game-lost {
    mix-blend-mode: luminosity;
}

.hidden {
    display: none;
}

#controls {
    position: absolute; 
    font-size: 26px;
    transform: translate(330.5%, 23%);
    font-weight: 1000;
    color:orange;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; 
}
li {
    list-style: none;
}   

#gameover {
    font-size: 40px;
    position: absolute;
    transform: translate(60%, 210%);
    z-index: 8;
    text-align: center;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black; 
    color: red;
    gap: 50%;
}

#pause {
    font-size: 45px;
    position: absolute;
    transform: translate(85%, 120%);
    z-index: 7 !important;
    text-align: center;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

#scoreboard-div {
    position: absolute;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    color: orange;
    transform: translate(18%, 25%);
    font-size: 45px;
    filter: brightness(120%);
}

#orders {
    color: white;
    position: absolute;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    z-index: 3;
    transform: translate(52.5%, 25%);
    filter: brightness(120%);
    padding: 0px; 
    width: 100%;
    font-size: 32px
};

.checked-off {
    color: green;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    filter: brightness(200%);
}

#coffeeuptitle {
    position: absolute;
    z-index: 9998;
    display: inline-block;
    height: 130px;
    transform: translate(38%, 10%);
    filter: brightness(160%);
}

.background {
    background-image: url("/src/assets/images/aethesticcafe.jpeg");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center center;
} 

canvas {
    position: absolute;
}

#coffee-canvas {
    background-image: url("/Users/anthill499/Desktop/Personal Projects/PROJECT SKELETON/src/assets/images/cafe_background.png");
    background-size: 900px 700px;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(50%, 25%);
    z-index: 1;
    border: 3px solid black;
    border-radius: 12px;
    zoom: 80%;
}

.navlinks {
    filter: invert(100%);
    display: flex;
    gap: 60px;
    transform: translate(80%, 900.5%);
}

#github:hover {
    filter: brightness(10%);
}

footer {
    /* text-align: center;
    vertical-align: bottom; */
    position:absolute;
    /* width:300px;
    height:300px; */
    font-size: 15px;
    display: flex;
    flex-direction: row;
    color: papayawhip;
    bottom:30px;
    right:25%;
    left:40%;
    margin-left:-150px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

